// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// SCHEMA // 

// 1. GLOBAL STYLES
// 2. NAVBAR



///////////////// 1. GLOBAL STYLES //////////@at-root

.text-center{
    text-align: center;
}

.float-left{
    float: left;
}

.margin-top-50{
    margin-top: 50px;
}
.margin-top-20{
    margin-top: 20px;
}
body {
    background: #9DCCD5; /* fallback for old browsers */
    background: -webkit-linear-gradient(right,#0A8196, #9DCCD5);
    background: -moz-linear-gradient(right, #0A8196, #9DCCD5);
    background: -o-linear-gradient(right, #0A8196, #9DCCD5);
    background: linear-gradient(to left,#0A8196, #9DCCD5);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

///////////////////// 2. NAVBAR ///////////////


////////////// 3. welcome ///////////////
span .sign-up:hover{
    color: white;
    background-color: #086778;
}

span .sign-up{
    color: white;
    background-color: #0A8196;
}
.submit-button{
    color: white;
    background-color: #0A8196;
    margin-top: 50px;
}

.welcome-buttons .welcome-btn {
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
}

/////////////////// 3. Login /////////////////

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 50px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
  }
  .grey-input input {
    background: #F2F2F2;
    font-size: 14px;
  }