// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// SCHEMA // 

// 1. GLOBAL STYLES
// 2. NAVBAR



///////////////// 1. GLOBAL STYLES //////////@at-root

.text-center{
    text-align: center;
}

.float-left{
    float: left;
}

.margin-top-50{
    margin-top: 50px;
}


///////////////////// 2. NAVBAR ///////////////


